body{

    font-family: 'poppins', sans-serif;
    line-height: 1.6;
}

html{

    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem 2rem;
    background: #000000;
    position: relative;
}

.logo img{
    height: 60px;   
}

.nav-links a{
    display: flex;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
 
    
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links a:hover{
    background-color: #d29c14dd;
    border-radius: 20px;
  }
